# Python ignores
__pycache__
.pytest_cache
*.egg-info

# CDK
*.swp
cdk.context.json
package-lock.json
yarn.lock
.cdk.staging
cdk.out

# Local docker testing
/.local_docker_storage

# Local python environment
/.aws_fbm_env
