; --------------------------------------------------------------------------------------------
; Server configuration -----------------------------------------------------------------------
; --------------------------------------------------------------------------------------------
[server]

HOST = ${GUI_HOST}
PORT = ${GUI_PORT}
DATA_PATH = ${GUI_DATA_PATH}

;---------------------------------------------------------------------------------------------
; Initial admin credentials ------------------------------------------------------------------
; --------------------------------------------------------------------------------------------
[init_admin]

email = ${GUI_DEFAULT_ADMIN_EMAIL}
password = ${GUI_DEFAULT_ADMIN_PW}
